.assignment04{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px;
    box-shadow: 0 0 3px black;
    text-align: center;
    margin: 50px auto;
    border-radius: 12px;
}
.image_container{
    width: 100%;
    position: relative;
    box-shadow: 0 0 3px black;
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.D2rXYYAR0DxE-zpR6v97ygHaEK&pid=Api&P=0");
    height: 240px;
    border-radius: 12px 12px 0 0;
}
.buttonss{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom:  -3rem;    
}
.buttonss button{
    padding: 2px 4px;
    border-radius: 5px;
    border:none;
    outline: none;
    background-color: red;
    color:white;
}
.assignment04 h1{
    margin-top: 2rem;
}
p{
    color:gray;
}
.count{
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.image_container img{
    z-index: -1;
}