.assignment05{
    height: 100vh;
    width: 100vw;

}
.assignment05_nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.assignment05_nav li{
    padding: 1rem;
    cursor:pointer;
}
.assignment05_nav li:hover{
    background-color: rgb(136, 55, 55);
}
.assignment05_body{
    height: 92.5%;
    width: 100%;
    text-align: center;
    background-size:cover;
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.OjNHJL6A-Lzw_jLJfFgtMwHaEK&pid=Api&P=0");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    color: white;
}